.fireStationInsideMap {
    height: 130%;
    width: 130%;
    background-image: url('component/firestationfloor1.jpg');
    position: relative;
    display: none;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.firestationPosition {
    position: absolute;
}



#firestationwall01 {
    height: 100%;
    width: 002%;
    top: 000%;
    left: 000%;
}


#firestationwall03 {
    height: 004%;
    width: 99%;
    top: 000%;
    left: 001%;
}


#firestationwall05 {
    height: 97.9%;
    width: 002%;
    top: 1.99%;
    left: 98%;
}


#firestationwall07 {
    height: 004%;
    width: 041%;
    top: 096%;
    left: 001%;
}

#firestationwall08 {
    height: 004%;
    width: 045%;
    top: 037%;
    left: 53.9%;
}

#firestationwall09 {
    height: 004%;
    width: 030%;
    top: 037%;
    left: 001%;
}

#firestationwall10 {
    height: 054%;
    width: 002%;
    top: 044%;
    left: 040%;
}

#firestationwall11 {
    height: 004%;
    width: 007%;
    top: 095%;
    left: 050%;
}

#firestationwall12 {
    height: 037%;
    width: 002%;
    top: 060%;
    left: 055%;
}


#firestationShose1 {
    height: 07%;
    width: 12%;
    top: 06%;
    left: 03%;
}

#firestationShose2 {
    height: 07%;
    width: 12%;
    top: 29%;
    left: 03%;
}

#firestationhandgloves1 {
    height: 07%;
    width: 12%;
    top: 06%;
    left: 35%;
}

#firestationpipe {
    height: 07%;
    width: 12%;
    top: 06%;
    left: 54%;
}

#firestationfireext01 {
    height: 07%;
    width: 12%;
    top: 29%;
    left: 70%;
}

#firestationfireext02 {
    height: 07%;
    width: 12%;
    top: 6%;
    left: 70%;
}

#firestationfireext03 {
    height: 07%;
    width: 12%;
    top: 6%;
    left: 17%;
}

#firestationfireext04 {
    height: 07%;
    width: 12%;
    top: 29%;
    left: 17%;
}

#firestationhelmet1 {
    height: 07%;
    width: 12%;
    top: 06%;
    left: 85%;
}

#firestationhelmet2 {
    height: 07%;
    width: 12%;
    top: 30%;
    left: 85%;
}

#firestationvan1 {
    height: 52%;
    width: 8.5%;
    top: 48%;
    left: 90%;
}

#firestationvan2 {
    height: 52%;
    width: 8.5%;
    top: 48%;
    left: 79%;
}

#firestationvan3 {
    height: 52%;
    width: 8.5%;
    top: 48%;
    left: 64%;
}

#firestationvan4 {
    height: 41%;
    width: 6.5%;
    top: 57%;
    left: 54%;
}


#firestationcomputer1 {
    height: 9%;
    width: 07%;
    top: 50%;
    left: 05%;
}

#firestationcomputer2 {
    height: 9%;
    width: 07%;
    top: 50%;
    left: 20%;
}

#firestationfile {
    height: 07%;
    width: 12%;
    top: 88%;
    left: 05%;
}

#firestationtable02 {
    height: 13%;
    width: 07%;
    top: 80%;
    left: 31%;
}

#firestationpaper {
    height: 07%;
    width: 03.5%;
    top: 83%;
    left: 33%;
}

#firestationchair1 {
    height: 7%;
    width: 05%;
    top: 42%;
    left: 06%;
}

#firestationchair2 {
    height: 7%;
    width: 05%;
    top: 42%;
    left: 21%;
}

#firestationman03 {
    height: 5%;
    width: 5%;
    top: 46%;
    left: 6%;
}

#firestationman04 {
    height: 5%;
    width: 5%;
    top: 46%;
    left: 21%;
}

#firestationman1 {
    position: absolute;
    width: calc(7% / 2);
    height: 7%;
    left: 35%;
    z-index: 1;
    overflow: hidden;
    animation: fireStationMan1 25s infinite linear;
}

#firestationman1>img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

.walk {
    animation: fireStaionwalk .8s infinite steps(2);
}



@keyframes fireStaionwalk {
    0% {
        left: 0%;
    }

    100% {
        left: -200%;
    }
}

@keyframes fireStationMan1 {
    0% {
        top: 60%;
        left: 44%;
        transform: rotate(0deg);
    }

    17% {
        top: 17%;
        left: 44%;
        transform: rotate(0deg);
    }

    18% {
        top: 17%;
        left: 44%;
        transform: rotate(90deg);
    }

    43% {
        top: 17%;
        left: 90%;
        transform: rotate(90deg);
    }

    44% {
        top: 17%;
        left: 90%;
        transform: rotate(180deg);
    }

    46% {
        top: 21%;
        left: 90%;
        transform: rotate(180deg);
    }

    47% {
        top: 21%;
        left: 90%;
        transform: rotate(270deg);
    }

    73% {
        top: 21%;
        left: 50%;
        transform: rotate(270deg);
    }

    74% {
        top: 21%;
        left: 50%;
        transform: rotate(180deg);
    }

    92% {
        top: 60%;
        left: 50%;
        transform: rotate(180deg);
    }

    93% {
        top: 60%;
        left: 50%;
        transform: rotate(270deg);
    }

    98% {
        top: 60%;
        left: 44%;
        transform: rotate(270deg);
    }

    99% {
        top: 60%;
        left: 44%;
        transform: rotate(360deg);
    }

    100% {
        top: 60%;
        left: 44%;
        transform: rotate(360deg);
    }
}

#firestationman2 {
    position: absolute;
    width: calc(7% / 2);
    height: 7%;
    left: 35%;
    z-index: 1;
    overflow: hidden;
    animation: fireStationMan2 28s infinite linear;



}

#firestationman2>img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

@keyframes fireStationMan2 {

    0% {
        top: 15%;
        left: 35%;
        transform: rotate(0deg);
    }

    20% {
        top: 70%;
        left: 35%;
        transform: rotate(0deg);
    }

    21% {
        top: 70%;
        left: 35%;
        transform: rotate(90deg);
    }

    30% {
        top: 70%;
        left: 20%;
        transform: rotate(90deg);
    }

    31% {
        top: 70%;
        left: 20%;
        transform: rotate(180deg);
    }

    36% {
        top: 60%;
        left: 20%;
        transform: rotate(180deg);
    }

    37% {
        top: 60%;
        left: 20%;
        transform: rotate(270deg);
    }

    47% {
        top: 60%;
        left: 35%;
        transform: rotate(270deg);
    }

    48% {
        top: 60%;
        left: 35%;
        transform: rotate(180deg);
    }

    70% {
        top: 15%;
        left: 35%;
        transform: rotate(180deg);
    }

    71% {
        top: 15%;
        left: 35%;
        transform: rotate(90deg);
    }

    85% {
        top: 15%;
        left: 10%;
        transform: rotate(90deg);
    }

    86% {
        top: 15%;
        left: 10%;
        transform: rotate(270deg);
    }

    100% {
        top: 15%;
        left: 35%;
        transform: rotate(270deg);
    }




}