.gardenPosition{
    position: absolute;
}

.gardenInsideMap{
  height: 150%;
  width: 150%;
  background-image: url('component/gardenBaseImage.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: none;
  position: relative;
}
/* ------------------------------------------ */
#gardenBlueMan{
    position: absolute;
    width: calc(7% / 2);
    height: 7%;
    top: 17%;
    left: 26%;
    z-index: 1;
    overflow: hidden;
    animation: gardenBlueMan 17s infinite linear ;
}
#gardenBlueMan > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

@keyframes gardenBlueMan {
    0%{
        top: 17%;
        left: 26%;
        transform: rotate(0deg); 
    }
    32%{
        top: 76%;
        left: 26%;
        transform: rotate(0deg); 
    }
    33%{
        top: 76%;
        left: 26%;
        transform: rotate(-90deg); 
    }
    50%{
        top: 76%;
       left: 53%; 
       transform: rotate(-90deg); 
    }
    51%{
        top: 76%;
        left: 53%; 
        transform: rotate(-180deg); 
    }
    80%{
        left: 53%; 
        top: 17%;
        transform: rotate(-180deg); 
    }
    81%{
        transform: rotate(-270deg);
        left: 53%; 
        top: 17%;
    }
    100% {
        left: 26%; 
        top: 17%;
        transform: rotate(-270deg); 
    }

    
}
/* ------------------------------------------------------- */
#gardenPinkWoman{
    position: absolute;
    width: calc(6.5% / 2);
    height: 6.5%;
    top: 35%;
    left: 5%;
    overflow: hidden;
    animation: gardenPinkWoman 32s infinite linear ;
}
#gardenPinkWoman > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

@keyframes gardenPinkWoman {
    0%{
        transform: rotate(-90deg);
        top: 35%;
        left:5%
    }
    8%{
        transform: rotate(-90deg);
        left: 20%;
        top: 35%;
    }
    9%{
        transform: rotate(-180deg);
        left: 20%;
        top: 35%;
    }
    16%{
        left: 20%;
        top: 9%;
        transform: rotate(-180deg);
    }
    17%{
       left: 20%;
        top: 9%;
        transform: rotate(-90deg);
    }
    47%{
        left: 80%;
        top: 9%;
        transform: rotate(-90deg);
    }
    48%{
         transform: rotate(90deg);
         left: 80%;
         top: 9%;
    }
    72%{
        transform: rotate(90deg);
        left: 20%;
        top: 9%;
   }
   73%{
        transform: rotate(0deg);
        left: 20%;
        top: 9%;
   }
   83%{
    transform: rotate(0deg);
    left: 20%;
    top: 60%;
   }
   84%{
    transform: rotate(90deg);
    left: 20%;
    top: 60%;
   }

   85%{
    transform: rotate(90deg);
    left: 20%;
    top: 60%;
   }
   90%{
    transform: rotate(90deg);
    left: 5%;
    top: 60%;
   }
   91%{
    transform: rotate(180deg);
    left: 5%;
    top: 60%;
   }
   99%{
    transform: rotate(180deg);
    left: 5%;
    top: 35%;
   }
   100%{
    transform: rotate(270deg);
    left: 5%;
    top: 35%;
   }
}


/* ------------------------------------------------------------- */
#gardenBrownBoy{
    position: absolute;
    width: calc(6% / 2);
    height: 5%;
    top: 85%;
    left: 23%;
    overflow: hidden;
    animation: gardenBrownBoy 28s  infinite linear ;
}
#gardenBrownBoy > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

@keyframes gardenBrownBoy {
    0%{
        top: 85%;
        left: 23%;
        transform: rotate(-90deg);
    }
    19%{
        top: 85%;
        left: 62%; 
        transform: rotate(-90deg);
    }
    20%{
        top: 85%;
        left: 62%; 
        transform: rotate(-180deg);
    }
    29%{
        top: 50%;
        left: 62%; 
        transform: rotate(-180deg);
    }
    30%{
        top: 50%;
        left: 62%; 
        transform: rotate(-90deg);
    }
    39%{
        top: 50%;
        left: 80%; 
        transform: rotate(-90deg);
    }
    40%{
        top: 50%;
        left: 80%; 
        transform: rotate(0deg);
    }
    48%{
        top: 80%;
        left: 80%; 
        transform: rotate(0deg);
    }
    49%{
        top: 80%;
        left: 80%; 
        transform: rotate(90deg);
    }
    54%{
        top: 80%;
        left: 70%; 
        transform: rotate(90deg);
    }
    55%{
        top: 80%;
        left: 70%; 
        transform: rotate(270deg);
    }
    60%{
        top: 80%;
        left: 80%; 
        transform: rotate(270deg);
    }
    61%{
        transform: rotate(180deg);
        top: 80%;
        left: 80%; 
    }
    68%{
        transform: rotate(180deg);
        top: 50%;
        left: 80%; 
    }
    69%{
        transform: rotate(90deg);
        left: 80%; 
        top: 50%;
    }
    76%{
        transform: rotate(90deg);
        left: 62%; 
        top: 50%;
    }
    77%{
        transform: rotate(0deg);
        left: 62%; 
        top: 50%;
    }
    85%{
        transform: rotate(0deg);
        left: 62%; 
        top: 85%;
    }
    86%{
        transform: rotate(90deg);
        left: 62%; 
        top: 85%;
    }
    99%{
        transform: rotate(90deg);
        left: 23%; 
        top: 85%;
    }
    100%{
        transform: rotate(-90deg);
        left: 23%; 
        top: 85%; 
    }
 

/* ------------------------------------------------------------------- */
}
.gardenWalk{
    animation: gardenWalk .9s infinite steps(2);
}

@keyframes gardenWalk {
    0%{
        left: 0%;
    }

    100%{
        left: -200%;
    }
}

#gardenSittingMan1{
    top: 15%;
    left: 5.5%;
    height: 7%;
    width: 5%;
}
#gardenSittingMan2{
    top: 79%;
    left: 15%;
    height: 9%;
    width: 3%;
}
#gardenSittingWoman{
    top: 12.3%;
    left: 13%;
    height: 8%;
    width: 2.7%;
}

#gardenSittingWoman2{
    top: 75%;
    left: 8%;
    height: 6.5%;
    width: 4.3%;
}
#gardenSittingWoman3{
    top: 8%;
    left: 87%;
    height: 9.5%;
    width: 4.3%;
}
#gardenDog{
    top: 10%;
    left: 92%;
    height:6%;
    width: 2%;
}


#gardenRedSlide{
    height: 13%;
    top: 33%;
    left: 83%;
    width: 12%;
}
#gardenBlueSlide{
    height: 22%;
    top: 68%;
    left: 83%;
    width: 13%;
}
#gardenSwing{
    width: 10%;
    height: 10%;
    top: 33%;
    left: 68%;
}

#gardenFountain{
    top: 38%;
    height: 20%;
    left: 42%;
    width: 10%;
}
#gardenSkateBoard{
    top: 76%;
    left: 18%;
    height: 4%;
    width: 5%;
}

#gardenBench4{
    height: 8.5%;
    width: 9%;
    top: 82%;
    left: 13%;
}
#gardenBench3{
    height: 17%;
    width: 4%;
    top: 73%;
    left: 7%;
}
#gardenBench1{
    height: 8.5%;
    top: 10%;
    left: 11%;
    width: 9%;
}
#gardenBench2{
    height: 17%;
    width: 4%;
    top: 13%;
    left: 5%;
}

#gardenGreen_line1{
    top: 0%;
    left: 0%;
    height: 6.5%;
    width: 100%;
}
#gardenGreen_line2{
    top: 91%;
    left: 0%;
    height: 9%;
    width: 100%;
}
#gardenGreen_line3{
    top: 0%;
    left: 0%;
    height: 65%;
    width: 3.5%;
}
#gardenGreen_line4{
    top: 64%;
    left: 0%;
    height: 30%;
    width: 5%;
}
#gardenGreen_line5{
    top: 0%;
    left: 97.5%;
    height: 100%;
    width: 2.5%;
}

#gardenGrass_h1{
    top: 28.5%;
    left: 66%;
    height:5%;
    width: 30%;
}
#gardenGrass_h2{
    top: 90%;
    left: 66%;
    height:5%;
    width: 30%;
}
#gardenGrass_v1{
    top: 30%;
    left: 65%;
    height: 15%;
    width: 3%;
}
#gardenGrass_v2{
    top: 30%;
    left: 95%;
    height: 64%;
    width: 3%;
}
#gardenGrass_v3{
    top: 59%;
    left: 65%;
    height: 35%;
    width: 3%;
}
.gardenVisibility{
    opacity: 0.7;
    visibility: hidden;
}
