.hospitalPosition
{
    position: absolute;
}
.hospitaInsideMap
{
    background-image: url("component/hospitalBaseImageA.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 150%;
    width: 170%;
    display: none;
    position:relative;
}

/* OUTER WALLS */

#hospitalWall1
{
    top:0%;
    left:0%;
    height:2%;
    width:100%;
}
#hospitalWall2
{
    top:0.8%;
    left:0%;
    height:37%;
    width:1%;
}
#hospitalWall3
{
    top:58.8%;
    left:0%;
    height:40.5%;
    width:1%;
}
#hospitalWall4
{
    top:98%;
    left:0%;
    height:2%;
    width:100%;
}
#hospitalWall5
{
    top:0.8%;
    left:99%;
    height:98.4%;
    width:1%;
}
#hospitalWall0{
    top: 58%;
    left: 0%;
    height: 2%;
    width: 50%;
   

}

/* RECEPTION AREA */
#hospitalMan{
    top: 16.5%;
    left: 3.8%;
    height: 5.2%;
    width: 3.2%;
}
#hospitalWall6
{
    top:0.8%;
    left:42%;
    height:35%;
    width:1%;
}

#receptionTable
{
    height: 25%;
    width: 5%;
    top: 6%;
    left: 6%;
}
#receptionChair
{
    height: 8%;
    width: 3%;
    top: 15%;
    left: 3%;
}
#hospitalPlant
{
    height: 6%;
    width: 4%;
    left: 26%;
    top:5%;
}
#hospitalSideTable
{
    height: 12%;
    width: 6%;
    left: 17%;
    top:17%;
}
#receptionSofa1
{
    height: 13%;
    width: 10%;
    top: 2%;
    left: 15%;
}

#receptionSofa2
{
    height: 22%;
    width: 6%;
    top: 15%;
    left: 25%;
}
#hospitalGanpatiMurti
{
    height: 16%;
    width: 8%;
    top: 2%;
    left: 33%;
}
/* DOCTOR CABIN */

#hospitalWall7
{
    top:0.8%;
    left:62%;
    height:35%;
    width:1%;
}

#hospitalWall8
{
    top:34.5%;
    left:52%;
    height:2%;
    width:18%;
}

#hospitalDoctor1Desk
{
    height:10%;
    width: 12%;
    top: 15%;
    left: 50%;
}


#hospitalDoctor1Chair
{
    height: 6.2%;
    width: 3.2%;
    top: 6.5%;
    left: 53%;
}
#hospitalDoctor1Seat1
{
    height:5.5%;
    width: 3%;
    top: 26%;
    left: 52%;
}
#hospitalDoctor1Seat2
{
    height:5.5%;
    width: 3%;
    top: 26%;
    left: 57%;
}
#hospitalDoctor2Desk
{
    height:10%;
    width: 12%;
    top: 15%;
    left: 63%;
}

#hospitalDoctor2Chair
{
    height: 6.2%;
    width: 3.2%;
    top: 6.5%;
    left: 67%;
}
#hospitalDoctor2Seat1
{
    height:5.5%;
    width: 3%;
    top: 26%;
    left: 63%;
}
#hospitalDoctor2Seat2
{
    height:5.5%;
    width: 3%;
    top: 26%;
    left: 68%;
}

/* MEETING ROOM */

#hospitalWall21
{
    height: 35%;
    width: 1%;
    left: 80%;
    top: 0.8%;
}

#hospitalWall22
{
    height: 2%;
    width: 12%;
    left: 80.41%;
    top: 33.8%;
}

#hospitalMeetingTable
{
    height: 30%;
    width: 10%;
    top: 5%;
    left: 81%;
}
/* SPECIAL ROOM */

#hospitalWall31
{
    top:67%;
    left:84%;
    height:2%;
    width:9%;
}
#hospitalWall32
{
    top:67.7%;
    left:88%;
    height:31.5%;
    width:1%;
}

#hospitalBed11
{
    height: 23%;
    width: 6%;
    left: 78%;
    top: 75%;
}

#hospitalBed12
{
    height: 23%;
    width: 6%;
    left: 89%;
    top: 75%;
}
#hospitalSideTable11
{
    height: 5%;
    width: 4%;
    left: 84%;
    top: 93%;
}
#hospitalSideTable12
{
    height: 5%;
    width: 4%;
    left:  95%;
    top: 93%;
}
#hospitalSeat11
{
    height:4%;
    width: 3%;
    top: 88%;
    left: 85%;
}
#hospitalSeat12
{
    height:4%;
    width: 3%;
    top: 88%;
    left: 96%;
}
/* GENERAL WARD */

#hospitalBed1
{
    height: 23%;
    width: 6%;
    left: 1%;
    top: 75%;
}

#hospitalPartition1
{
    height: 30%;
    width: 3%;
    left: 9%;
    top: 70%;
}

#hospitalBed2
{
    height: 23%;
    width: 6%;
    left: 12%;
    top: 75%;
}

#hospitalPartition2
{
    height: 30%;
    width: 3%;
    left: 20%;
    top: 70%;
}

#hospitalBed3
{
    height: 23%;
    width: 6%;
    left: 23%;
    top: 75%;
}

#hospitalPartition3
{
    height: 30%;
    width: 3%;
    left: 31%;
    top: 70%;
}

#hospitalBed4
{
    height: 23%;
    width: 6%;
    left: 34%;
    top: 75%;
}

#hospitalPartition4
{
    height: 30%;
    width: 3%;
    left: 42%;
    top: 70%;
}


#hospitalBed5
{
    height: 23%;
    width: 6%;
    left: 45%;
    top: 75%;
}

#hospitalPartition5
{
    height: 30%;
    width: 3%;
    left: 53%;
    top: 70%;
}

#hospitalWall11
{
    height: 31.2%;
    width: 1%;
    left: 57%;
    top: 68%;
}

#hospitalRestroom1
{
    height: 6.5%;
    width: 3.5%;
    left: 58%;
    top: 75%;
}


#hospitalWall41
{
    height: 12%;
    width: 1%;
    left: 65.4%;
    top: 77%;
}

#hospitalWall12
{
    height: 2%;
    width: 9%;
    left: 58%;
    top: 68%;
}

#hospitalRestroom2
{
    height: 6.5%;
    width: 3.5%;
    left: 58%;
    top: 84%;
}


#hospitalWall13
{
    height: 2%;
    width: 8%;
    left: 58%;
    top: 82%;
}


#hospitalWall14
{
    height: 31.2%;
    width: 1%;
    left: 77%;
    top: 68%;
}


#hospitalWall15
{
    height: 2%;
    width: 5%;
    left: 72.62%;
    top: 68%;
}

#hospitalWashBasin
{
    height: 15%;
    width: 3%;
    left: 74%;
    top: 74%;

}

/* PEOPLE */

#hospitalCharacter1{
    height: 7%;
    width: 2%;
    left: 20%;
    top: 8.5%;
}

#hospitalDoctor1{
    height: 5%;
    width: 3%;
    left: 48%;
    top: 8.5%;
}

#hospitalDoctor2{
    height: 5%;
    width: 3%;
    left: 94%;
    top: 71%;
}

#hospitalPatientOnWheelChair
{
    height: 7%;
    width: 3.5%;
    left: 46%;
    top: 15%;
}

#hospitalRelative1
{
    height: 5%;
    width: 2.3%;
    left: 52.3%;
    top: 25.2%;
}


#hospitalPatient1
{
    height: 5%;
    width: 3%;
    left: 4%;
    top: 77%;
}


#hospitalPatient2
{
    height: 5%;
    width: 3%;
    left: 26%;
    top: 77%;
}

#hospitalPatient3
{
    height: 5%;
    width: 3%;
    left: 92%;
    top: 77%;
}

#hospitalSleepingMan
{
    height: 10%;
    width: 3%;
    left: 2.5%;
    top: 81.2%;
}

.hospitalwalk{
    animation: hospitalwalk .8s infinite steps(2);
}
@keyframes hospitalwalk {
    0%{
        left: 0%;
    }
    
    100%{
        left: -200%;
    }
}

#hospitalBlueMan{
    position: absolute;
    width: calc(6% / 2);
    height: 6%;
    top: 32%;
    left: 10%;
    z-index: 1;
    overflow: hidden;
    animation: hospitalBlueManAni 20s infinite linear ;
}

#hospitalBlueMan > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

@keyframes hospitalBlueManAni{
    0%{
        top: 32%;
        left: 10%;
        transform:rotate(0deg);
    }
    15%{
        top: 50%;
        left: 10%;
        transform:rotate(0deg);
    }
    16%{
        top: 50%;
        left: 10%;
        transform:rotate(-90deg);
    }
    48%{
        top: 50%;
        left: 50%;
        transform:rotate(-90deg);
    }
    50%{
        top: 50%;
        left: 50%;
        transform:rotate(90deg);
    }
    86%{
        top: 50%;
        left: 10%;
        transform:rotate(90deg);
    }
    87%{
        top: 50%;
        left: 10%;
        transform:rotate(180deg);
    }
    98%{
        top: 32%;
        left: 10%;
        transform:rotate(180deg);
    }
    100%{
        top: 32%;
        left: 10%;
        transform:rotate(0deg);
    }
}


#hospitalRedMan{
    position: absolute;
    width: calc(6% / 2);
    height: 6%;
    top: 30%;
    left: 10%;
    z-index: 1;
    overflow: hidden;
    animation: hospitalRedManAni 20s infinite linear ;
}

#hospitalRedMan > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}


@keyframes hospitalRedManAni{
    0%{
        top: 3%;
        left: 95%;
        transform:rotate(0deg);
    }
    20%{
        top: 40%;
        left: 95%;
        transform:rotate(0deg);
    }
    21%{
        top:40%;
        left: 95%;
        transform:rotate(90deg);
    }
    40%{
        top: 40%;
        left: 76%;
        transform:rotate(90deg);
    }
    41%{
        top: 40%;
        left: 76%;
        transform:rotate(180deg);
    }

    50%{
        top: 20%;
        left: 76%;
        transform:rotate(180deg);

    }
    52%{
        top: 20%;
        left: 76%;
        transform:rotate(0deg);
    }
    62%{
        top: 40%;
        left: 76%;
        transform:rotate(0deg);

    }
    63%{
        top: 40%;
        left: 76%;
        transform:rotate(-90deg);
    }
    80%{
        top: 40%;
        left: 95%;
        transform:rotate(-90deg);
    }
    81%{
        top: 40%;
        left: 95%;
        transform:rotate(-180deg);

    }
    98%{
        top: 3%;
        left: 95%;
        transform:rotate(-180deg);

    }
    100%{
        top: 3%;
        left: 95%;
        transform:rotate(0deg);

    }
 
    
}
