.theaterInsideMap{
    background-image: url("component/theaterBaseImage.PNG");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    top: 0%;
    left: 0%;
    height: 170%;
    display: none;
    width: 170%; 
} 
.theaterPosition
{
    position : absolute;
}

/* OUTER WALLS */

#theaterWall1
{
    height:2%;
    width: 48%;
}
#theaterWall2
{
    height:2%;
    width: 39.5%;
    left: 60%;
}
#theaterWall3
{
    top:0%; 
    height: 100%;
    width: 1%;
    left: 99%;
}
#theaterWall4
{
    height: 2%;
    width: 99.5%;
    top: 98%;
    left: 0%;
}
#theaterWall5
{
    height:100%;
    width: 1%;
}

/* PLANT */

#theaterPlant1
{
    height: 6%;
    width: 4%;
    left: 61%;
    top:2%;
}
#theaterPlant2
{
    height: 6%;
    width: 4%;
    left: 61%;
    top:14%;
}
#theaterPlant3
{
    height: 6%;
    width: 4%;
    left: 61%;
    top:34%;
}
#theaterPlant4
{
    height: 6%;
    width: 4%;
    left: 61%;
    top:48%;
}
#theaterPlant5
{
    height: 6%;
    width: 4%;
    left: 61%;
    top:92%;
}

/* TICKET AND FOOD */

#theaterTicketCounter
{
    height:10%;
    width: 18%;
    top: 18%;
    left: 31.2%;
}

#theaterTicketCounterChair1
{
    height: 5%;
    width: 3.5%;
    top: 12.5%;
    left: 43.1%;
}

#theaterTicketCounterChair2
{
    height: 5%;
    width: 3.5%;
    top: 12.5%;
    left: 33%;
}

#theaterFoodCounter2
{
    height: 21%;
    width: 7%;
    top: 7%;
    left: 1%;
}

#theaterFoodCounter
{
    height: 10%;
    width: 15%;
    top: 18%;
    left: 7.5%;
}

#theaterFoodFridge
{
    height: 5%;
    width: 6%;
    top: 2%;
    left: 1%;
}
/* VIP SCREEN */

#theaterScreen1
{
    top: 1%;
    left: 70%;
    height: 10%;
    width: 25%;
}
#theaterSeats11
{
    top: 22%; 
    left: 71%; 
    height: 8%;
    width: 4%;
}
#theaterSeats12
{
    top: 22%;
    left: 81%;
    height: 8%;
    width: 4%;
}
#theaterSeats13
{
    top: 44%;
    left: 71%;
    height: 8%;
    width: 4%;
}
#theaterSeats14
{
    top: 44%;
    left: 81%;
    height: 8%;
    width: 4%;
}
#theaterSeats15
{
    top: 22%;
    left: 91%;
    height: 8%;
    width: 4%;
}
#theaterSeats16
{
    top: 44%;
    left: 91%;
    height: 8%;
    width: 4%;
}
#theaterSeats17
{
    top: 65%;
    left: 81%;
    height: 8%;
    width: 4%;
}
#theaterSeats18
{
    top: 65%;
    left: 71%;
    height: 8%;
    width: 4%;
}
#theaterSeats19
{
    top: 65%;
    left: 91%;
    height: 8%;
    width: 4%;
}

#theaterWall7
{
    top: 1%;
    height:18%;
    width: 1%;
    left: 66%;
}

#theaterWall6
{
    top: 67%;
    height: 6%;
    width: 1%;
    left: 66%;
}

#theaterWall8
{
    top: 35%;
    height: 17%;
    width: 1%;
    left: 66%;
}

/* RESTROOM */

#theaterWall9
{
    top: 73%;
    height:2%;
    width: 33.5%;
    left: 66%;
}

#theaterWall10
{
    top: 86.5%;
    height: 12.4%;
    width: 1%;
    left: 66%;
}

#theaterRestRoom1
{
    height: 8%;
    width: 4.5%;
    left: 81.5%;
    top: 90%;
}
#theaterWashBasin
{
    height: 6.5%;
    width: 11%;
    left: 67%;
    top: 91.5%;
}
#theaterRestRoom2
{
    height: 8%;
    width: 4.5%;
    left: 92%;
    top: 90%;
}
#theaterRestRoom
{
    top:75%;
    left:65%;
    height:25%;
    width:35%;
}

#theaterWall14
{
    top: 86.5%;
    height: 12.4%;
    width: 1%;
    left: 78%;
}

#theaterWall15
{
    top: 86.5%;
    height: 12.4%;
    width: 1%;
    left: 88%;
}

/* GENERAL SCREEN */

#theaterScreen3
{
    top: 56.5%;
    left: 46.5%;
    height: 41.5%;
    width: 3.5%;
}
#theaterSeats31
{
    top: 57%;
    left: 32%;
    height: 16%;
    width: 10.5%;
}
#theaterSeats32
{
    top: 82.5%;
    left: 32%;
    height: 16%;
    width: 10.5%;
}
#theaterSeats33
{
    top: 57%;
    left: 11.3%;
    height: 16%;
    width: 10.5%;
}
#theaterSeats34
{
    top: 82.5%;
    left: 11.2%;
    height: 16%;
    width: 10.5%;
}
#theaterSeats35
{
    top: 57%;
    left: 0.5%;
    height: 16%;
    width: 10.5%; 
}
#theaterSeats36
{
    top: 82.1%;
    left: 1.1%;
    height: 16%;
    width: 10.5%;
}

#theaterWall11
{
    height:2%;
    width: 20%;
    top: 54%;
    left: 1%;
}

#theaterWall12
{
    top: 54%;
    height:2%;
    width: 18%;
    left: 32%;
}

#theaterWall13
{
    top: 54%;
    height: 45%;
    width: 1%;
    left: 50%;
}

/* PEOPLE */

#theaterPeople1
{
    height : 5%;
    width: 3%;
    left: 71.5%;
    top: 21%;
}

#theaterPeople2
{
    height : 5%;
    width: 3%;
    left: 81.5%;
    top: 43%;
}

#theaterPeople3
{
    height : 5%;
    width: 4%;
    left: 91%;
    top: 63%;
}
#theaterCounterMan1
{
    height: 5%;
    width:3.5%;
    left:32.8%;
    top:13.9%;
}
#theaterCounterMan2
{
    height: 5%;
    width:3.5%;
    left:43%;
    top:13.9%;
}
#theaterStandingMan{
    top: 13%;
    left: 10%;
    height:3.5%;
    width: 3%;
}

.TheaterWalk{
    animation: TheaterWalk .7s infinite steps(2);
}
@keyframes TheaterWalk {
    0%{
        left: 0%;
    }
    
    100%{
        left: -200%;
    }
}

#theaterChr1{
    position: absolute;
    width: calc(5% / 2);
    height: 4.5%;
    top: 42%;
    left: 64%;
    z-index: 1;
    overflow: hidden;
    animation: theaterperson 25s infinite linear ;
}

#theaterChr1 > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}

@keyframes theaterperson {
   0%{
      top: 42%;
     left: 64%;
     transform: rotate(0deg);
   }
    1%{
        top: 42%;
        left: 64%;
        transform: rotate(90deg);
    }
    40%{
        top: 42%;
        left: 15%;
        transform: rotate(90deg);
    }
    41%{
        top: 42%;
        left: 15%;
        transform: rotate(180deg);
    }
    49%{
        top: 30%;
        left: 15%;
        transform: rotate(180deg);
    }
    51%{
        top: 30%;
        left: 15%;
        transform: rotate(0deg);
    }
    60%{
        top: 42%;
        left: 15%;
        transform: rotate(0deg);
    }
    61%{
        top: 42%;
        left: 15%;
        transform: rotate(-90deg);
    }
    100%{
        top: 42%;
        left: 64%;
        transform: rotate(-90deg);
    }
   
}

#theaterChr2{
    position: absolute;
    width: calc(5% / 2);
    height: 4.5%;
    top: 5%;
    left: 55%;
    z-index: 1;
    overflow: hidden;
    animation: theaterperson2 20s infinite linear ;
}

#theaterChr2 > img {
    position: relative;
    height: 100%;
    width: 200%;
    top: 0%;
    left: 0%;
}
@keyframes theaterperson2{
    0%{
        top: 5%;
        left: 55%;
        transform:rotate(180deg);
    }
    15%{
        top: 30%;
        left: 55%;
        transform:rotate(180deg);
    }
    16%{
        top: 30%;
        left: 55%;
        transform:rotate(270deg);
    }
    49%{
        top: 30%;
        left: 18%;
        transform:rotate(270deg);
    }
    51%{
        top: 30%;
        left: 18%;
        transform:rotate(450deg);
    }
    85%{
        top: 30%;
        left: 55%;
        transform:rotate(450deg);
    }
    86%{
        top: 30%;
        left: 55%;
        transform:rotate(360deg);
    }
    98%{
        top: 5%;
        left: 55%;
        transform:rotate(360deg);
    }
    100%{
        top: 5%;
        left: 55%;
        transform:rotate(180deg);
    }
}